In [3]:
import pandas as pd
import datetime as dt
import numpy as np

import geopandas as gpd

In [10]:
##import data
df_flood = pd.read_csv('data/extracted_events_NOAA.csv', index_col=0)

##change col names to lowercase
df_flood.columns = df_flood.columns.str.lower()

/var/folders/k2/8b5d5rd53t38_t4lfc676zsr0000gp/T/ipykernel_57385/2126683038.py:2: DtypeWarning: Columns (29,30) have mixed types. Specify dtype option on import or set low_memory=False.
  df_flood = pd.read_csv('data/extracted_events_NOAA.csv', index_col=0)

In [11]:
##check for missing values in key columns
df_flood.isna().sum()

begin_yearmonth            0
begin_day                  0
begin_time                 0
end_yearmonth              0
end_day                    0
end_time                   0
episode_id                 0
event_id                   0
state                      0
state_fips                 0
year                       0
month_name                 0
event_type                 0
cz_type                    0
cz_fips                    0
cz_name                    0
wfo                        0
begin_date_time            0
cz_timezone                0
end_date_time              0
injuries_direct            0
injuries_indirect          0
deaths_direct              0
deaths_indirect            0
damage_property        33975
damage_crops           47363
source                 13783
magnitude             144225
magnitude_type        144313
flood_cause            55433
category              144314
tor_f_scale           144314
tor_length            144314
tor_width             144314
tor_other_wfo         144314
tor_other_cz_state    144314
tor_other_cz_fips     144314
tor_other_cz_name     144314
begin_range            49875
begin_azimuth          49875
begin_location         19180
end_range              49838
end_azimuth            49838
end_location           19166
begin_lat              50572
begin_lon              50572
end_lat                50572
end_lon                50572
episode_narrative      22691
event_narrative        32094
data_source                0
datetime_begin            12
datetime_end              10
fatality                   0
damages                    0
dtype: int64

Lat/Long has lots of missing values. How many have both missing?

In [5]:
##check that all data is flood data (and not tornado, etc)
df_flood['event_type'].value_counts()

event_type
Flash Flood        84807
Flood              56048
Coastal Flood       3118
Lakeshore Flood      341
Name: count, dtype: int64

First check data inventory: 
Lat/long, date, event type, state, all present. Deaths, injuries complete. Partial damage. 

Event types only floods.

In [6]:
#import 2020 census zip code tabulation areas
zcta = gpd.read_file('data/tl_2020_us_zcta520/tl_2020_us_zcta520.shp')

zcta

,ZCTA5CE20,GEOID20,CLASSFP20,MTFCC20,FUNCSTAT20,ALAND20,AWATER20,INTPTLAT20,INTPTLON20,geometry
0,35592,35592,B5,G6350,S,298552385,235989,+33.7427261,-088.0973903,"POLYGON ((-88.24735 33.65390, -88.24713 33.654..."
1,35616,35616,B5,G6350,S,559506992,41870756,+34.7395036,-088.0193814,"POLYGON ((-88.13997 34.58184, -88.13995 34.582..."
2,35621,35621,B5,G6350,S,117838488,409438,+34.3350314,-086.7270557,"POLYGON ((-86.81659 34.34960, -86.81649 34.349..."
3,35651,35651,B5,G6350,S,104521045,574316,+34.4609087,-087.4801507,"POLYGON ((-87.53087 34.42492, -87.53082 34.429..."
4,36010,36010,B5,G6350,S,335675180,236811,+31.6598950,-085.8128958,"POLYGON ((-85.95712 31.67744, -85.95676 31.677..."
...,...,...,...,...,...,...,...,...,...,...
33786,10540,10540,B5,G6350,S,1394970,27777,+41.3259819,-073.7277119,"POLYGON ((-73.73580 41.33577, -73.73501 41.335..."
33787,23081,23081,B5,G6350,S,7753698,14654483,+37.1935699,-076.7525080,"POLYGON ((-76.79774 37.21409, -76.79134 37.220..."
33788,23147,23147,B5,G6350,S,143646,0,+37.3696361,-077.0391136,"POLYGON ((-77.04292 37.36996, -77.04143 37.370..."
33789,23298,23298,B5,G6350,S,288664,0,+37.5417074,-077.4295300,"POLYGON ((-77.43285 37.54038, -77.43261 37.540..."
33790,12544,12544,B5,G6350,S,1486252,0,+42.2612044,-073.6681537,"POLYGON ((-73.67796 42.26914, -73.66473 42.265..."

In [9]:
df_flood.columns

Index(['begin_yearmonth', 'begin_day', 'begin_time', 'end_yearmonth',
       'end_day', 'end_time', 'episode_id', 'event_id', 'state', 'state_fips',
       'year', 'month_name', 'event_type', 'cz_type', 'cz_fips', 'cz_name',
       'wfo', 'begin_date_time', 'cz_timezone', 'end_date_time',
       'injuries_direct', 'injuries_indirect', 'deaths_direct',
       'deaths_indirect', 'damage_property', 'damage_crops', 'source',
       'magnitude', 'magnitude_type', 'flood_cause', 'category', 'tor_f_scale',
       'tor_length', 'tor_width', 'tor_other_wfo', 'tor_other_cz_state',
       'tor_other_cz_fips', 'tor_other_cz_name', 'begin_range',
       'begin_azimuth', 'begin_location', 'end_range', 'end_azimuth',
       'end_location', 'begin_lat', 'begin_lon', 'end_lat', 'end_lon',
       'episode_narrative', 'event_narrative', 'data_source', 'datetime_begin',
       'datetime_end', 'fatality', 'damages'],
      dtype='object')